<!DOCTYPE html>
{% load static %}
<html lang="ru"> 
  <head> 
    <title>{% block title %}Заголовок{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <style>
        .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}
    </style>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="">
                <img src="{% static 'img/logo_main.png' %}" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
                Центр Постгеномных Технологий
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Главная страница</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Обучение</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Кадры</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">СМК</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Приказы и распоряжения</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Библиотека ЦПТ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Взаимодействие</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main>
      {% block content %}
        Контент пилится,ожидайте
      {% endblock %}
    </main>
    <footer> 
     {% include 'includes/footer.html'  %}
  </footer>
  </body>
</html>