{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Добро пожаловать на корпоративный портал ЦПТ {% endblock title %}</title>
{% block content %}
<br>
<br>
<br>
<div class="b-example-divider"></div>
<h2 align="center">Новости ЦПТ</h2>
<br>
{% for news in news_list %}
<article>
  <div class="container text-center">  
    <p> {{ news.pub_date|date:"d E Y"}} | {{news.title}}</p>
    <hr>
  </ul>      
  <div class="row align-items-center">
</article>
{% endfor %}
<div align="center"><a class="btn btn-primary" href="/news/{{ news.pk }}" role="button">Все новости</a></div>
<br>
<div class="b-example-divider"></div>

{% endblock %}